<!-- Extended default form grid -->
<div class="container-fluid">
  <div class="row nav-bar">
    <label class="logo"><a href="https://www.intergreatme.com" target="_new">intergreatme</a></label>
  </div>
  <div class="row  app-section">
    <div class="col-md-8 text-center">
      <form>
        <div class="form-row">
          <label class="form-label">Information<i class="fas fa-user pr-2" aria-hidden="true"></i></label>
        </div>
            <!-- Grid row -->
        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-4">
              <label for="firstname">Names</label>
            <input mdbInput type="text" class="form-control" id="firstname" [(ngModel)]="fname" name="fname" placeholder="Luke Dominique">
          </div>
          <!-- Default input -->
          <div class="form-group col-md-4">
              <label for="lastname">Surname</label>
            <input mdbInput type="text" class="form-control" id="lastname" [(ngModel)]="lname" name="lname" placeholder="Warner">
          </div>
          <div class="form-group col-md-4">
            <label for="position">Title at Company</label>
            <input mdbInput type="text" class="form-control" id="position" [(ngModel)]="position" name="position" placeholder="CEO of intergreatme">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="phone">Mobile Number</label>
            <input mdbInput type="phone" class="form-control" id="phone" [(ngModel)]="phone" name="phone" placeholder="+27823936145">
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Email Address</label>
            <input mdbInput type="email" class="form-control" id="inputEmail4" placeholder="" [(ngModel)]="email" name="email" placeholder="luke@intergreatme.com">
          </div>
        </div>
      </form>

      <button mdbBtn type="button" color="default" class="generate-btn" (click)="generateQRCode()" mdbWavesEffect>Generate My QR Code</button>
      <h5 class="card-title h5 pb-2">By clicking generate you agree to our <a href="https://www.intergreatme.com/terms-and-privacy/" target="_new"><strong>Terms & privacy policy</strong></a></h5>
    </div>
    <div class="col-md-4">
      <div class="right-section text-center">
        <div class="col-md-12">
            <label class="preview-label" size="lg">My QR Code Preview</label>
        </div>
        <div class="col-md-12 image-block">
          <div class="image-content">
            <img src="/assets/back-qr.png" alt="Responsive image">
            <div class="qrcode-img">
              <div id="qrcode"></div>
              <label>{{gname}}</label>
            </div>
          </div>
        </div>
       <!-- <button mdbBtn type="button" color="default" class="generate-btn" (click)="saveImage()" mdbWavesEffect>Save Image</button>-->
        <h4>To save as your lock screen zoom on above and take a screen shot</h4>
      </div>
    </div>
  <!-- Extended default form grid -->
  </div>
</div>
