

body {
  background: #DDD;
}
.nav-bar {
  .logo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px;
    height: 80px;
    color: white;
    padding: 10px 40px;
    font-size: 35px;
    background: #3F729B;
    display: block;
    a {
      color: white;
    }
  }

  @media screen and (max-width: 480px) {
    .logo {
      font-size: 1.5em;
      height: 2.5em;
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }
}
div.app-section {
  background: #DDD;
  padding: 40px 20px;
  form {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    input.form-control {
      border-radius: 15px;
      height: calc(2.5em + 0.75rem + 2px);
    }
    label {
      margin-left: 20px;
      color: #888;
    }
    .form-label {
      border-radius: 15px;
      margin: 0px;
      color: white;
      padding: 0.5em 40px;
      font-size: 1.8em;
      background: #0099CC;
      margin-bottom: 1.2em;
      i {
        margin-left: 200px;
        font-size: 1.5em;
      }
    }
    @media screen and (max-width: 1024px) {
      .form-label {
        padding: 0.2em;
        i {
          margin-left: 1em;
        }
      }
    }
    @media screen and (max-width: 480px) {
      .form-label {
        padding: 0.3em;
        i {
          font-size: 1em;
          margin-left: 0.2em;
        }
      }
    }
  }
  .generate-btn {
    font-size: 1.3em;
    padding: 0.3em 1em;
  }
  @media screen and (max-width: 1024px) {
    .form-label {
      i {
        margin-left: 1em;
      }
    }
  }
  h4 strong {
    text-decoration: underline;
  }
}
div.right-section {
  background: white;
  border-radius: 15px;
  div.image-block {
    padding: 20px !important;
    img {
      border-radius: 10px
    }
  }
  .preview-label {
    border-radius: 15px;
    margin: 0px;
    color: white;
    padding: 0.5em 4em;
    font-size: 1.8em;
    background: #0099CC;
    margin-bottom: 1.2em;
    margin-top: 20px;
  }
  div.qrcode-img {
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 60px);
    label {
      margin-top: 5px;
    }

  }
  @media screen and (max-width: 480px) {
    .preview-label {
      padding: 0.3em;
    }
    div.image-block {
      img {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .preview-label {
      padding: 0.3em;
    }
    div.image-block {
      padding: 20px !important;
      img {
        width: 90%;
      }
    }
    div.qrcode-img {
      top: calc(50% - 110px);
      left: calc(50% - 70px);
    }
  }
  @media screen and (max-width: 480px) {
    .preview-label {
      font-size: 1.5em;
    }
    div.qrcode-img {
      top: calc(50% - 65px);
      left: calc(50% - 52px);
    }
  }
}

button {
  border-radius: 15px
}
input::placeholder {
  color: #DDD;
}
